
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slideshow</title>
    <style>
 
      body,html { margin:0; padding:0; background-color: black; height: 100% }
      img {height: 100%;}

      [data-component="slideshow"] .slide {
        display: none;
      }
      [data-component="slideshow"] .slide.active {
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="slideshow-example" data-component="slideshow">
      <div role="list">
{{ content }}
      </div>
    </div>
  <script>
  var slideshows = document.querySelectorAll('[data-component="slideshow"]');

  setTimeout(function(){
    location.replace(location.href);
  }, 600000);
    
  slideshows.forEach(initSlideShow);
  function initSlideShow(slideshow) {

    var slides = document.querySelectorAll(`#${slideshow.id} [role="list"] .slide`); // Get an array of slides
    var index = 0, time = 5000;

    slides[index].classList.add('active');  
    
    setInterval( () => {
      slides[index].classList.remove('active');
      index++;
      if (index === slides.length) index = 0; 
      slides[index].classList.add('active');
    }, time);
  }
  </script>
  </body>
</html>
